@import variables
@import mixins
@import colors

*,
*:before,
*:after
	box-sizing: inherit

a
	text-decoration: none

h1	
	text-transform: uppercase

h3
	font-weight: 500
	text-transform: capitalize

html
	box-sizing: border-box

#search-wrapper:focus-within
	border-color: #F66D9B

.leaflet-container .leaflet-control-search
	position: relative
	float: left
	background: #fff
	color: #1978cf
	border: 2px solid rgba(0, 0, 0, 0.2)
	background-clip: padding-box
	-moz-border-radius: 4px
	-webkit-border-radius: 4px
	border-radius: 4px
	background-color: rgba(255, 255, 255, 0.8)
	z-index: 1000
	margin-left: 10px
	margin-bottom: 10px

.leaflet-control-search
	&.search-exp
		background: #fff
		border: 2px solid rgba(0, 0, 0, 0.2)
		background-clip: padding-box
	.search-input
		display: block
		float: left
		background: #fff
		border: 1px solid #666
		border-radius: 2px
		height: 22px
		padding: 0 20px 0 2px
		margin: 4px 0 4px 4px
	&.search-load
		.search-input
			background: url('/images/loader.gif') no-repeat center right #fff
		.search-cancel
			visibility: hidden
	.search-cancel
		display: block
		width: 22px
		height: 22px
		position: absolute
		right: 28px
		margin: 6px 0
		background: url('/images/search-icon.png') no-repeat 0 -46px
		text-decoration: none
		filter: alpha(opacity = 80)
		opacity: 0.8
		&:hover
			filter: alpha(opacity = 100)
			opacity: 1
		span
			display: none
			font-size: 18px
			line-height: 20px
			color: #ccc
			font-weight: bold
		&:hover span
			color: #aaa
	.search-button
		display: block
		float: left
		width: 30px
		height: 30px
		background: url('/images/search-icon.png') no-repeat 4px 4px #fff
		border-radius: 4px
		&:hover
			background: url('/images/search-icon.png') no-repeat 4px -20px #fafafa
	.search-tooltip
		position: absolute
		top: 100%
		left: 0
		float: left
		list-style: none
		padding-left: 0
		min-width: 120px
		max-height: 122px
		box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4)
		background-color: rgba(0, 0, 0, 0.25)
		z-index: 1010
		overflow-y: auto
		overflow-x: hidden
		cursor: pointer
	.search-tip
		margin: 2px
		padding: 2px 4px
		display: block
		color: black
		background: #eee
		border-radius: .25em
		text-decoration: none
		white-space: nowrap
		vertical-align: center
	.search-button:hover
		background-color: #f4f4f4
	.search-tip-select, .search-tip:hover
		background-color: #fff
	.search-alert
		cursor: pointer
		clear: both
		font-size: .75em
		margin-bottom: 5px
		padding: 0 .25em
		color: #e00
		font-weight: bold
		border-radius: .25em