extends layout

block content
    #bg.absolute.pin-r.pin-t.pin-b.z-0.h-screen.bg-indigo(class='w-2/3')
    .flex.flex-row.flex-wrap.flex-1.items-center.justify-center.w-screen.h-screen.relative
        .flex.flex-col.flex-wrap.h-full(class='w-1/2').justify-center.items-end.pr-8.pt-24.relative
            #image-wrapper.flex.bg-grey-light.shadow-lg.justify-center.items-center(style='width:24rem;height:24rem;')
                img.h-full.w-full(src='images/admin.jpg')
        .flex.flex-col.flex-wrap.h-full(class='w-1/2').justify-center.items-start.text-white.pt-24.pr-32
            #title.font-bold.uppercase.font-sans.flex.leading-tight.text-4xl.mb-6.pr-12
                | Joti Banja Uru Hambandima
            #desc.font-hairline.flex.leading-loose.pr-12
                ul.list-reset
                    li 14.25.024
                    li Teknik Geodesi
                    li Fakultas Teknik Sipil dan Perencanaan
                    li Institut Teknologi Nasional Malang