block header
	.mx-32
		nav.flex.items-center.justify-between.flex-wrap.mx-4.p-6.bg-white.z-10.fixed.shadow-md(class='w-4/5')
			.flex.flex-row.justify-center.items-center.flex-no-shrink.text-black.mr-6
				img.w-10.h-10(src='favicon/LOGO_ITN.png')
				span.text-xs.mr-2.p-2.w-16.text-grey Institut Teknologi Nasional
				img.w-8.h-10(src='favicon/favicon-2.ico')
				span.text-xs.p-2.w-16.text-grey Kabupaten Sumba Timur
			.w-full.block.flex-grow(class='lg:flex lg:items-center lg:w-auto')
				.text-sm.flex-grow.pr-6
					//form.w-full
						#search-wrapper.flex.items-center.border-b.border-b-2.border-grey-light.py-2(class='hover:border-pink')
							input.appearance-none.bg-transparent.border-none.w-full.text-black.mr-3.py-1.px-2.font-thin(class='focus:outline-none', type='text', placeholder='Pencarian...', aria-label='Full name')
							button.flex-no-shrink.border-transparent.border-4.text-grey-light.text-sm.py-1.px-2.rounded-full(class='hover:text-pink', type='button') Batal
							button.flex-no-shrink.bg-pink.border-pink.text-sm.border-4.text-white.py-1.px-4.rounded-full(class='hover:bg-pink-dark hover:border-pink-dark', type='button') Cari
				a.block.mt-4.text-black.mr-4.leading-none.font-semibold.text-sm(href='/', class='lg:inline-block lg:mt-0 hover:text-pink') Beranda
				a.block.mt-4.text-black.mr-4.leading-none.font-semibold.text-sm(href='/admin', class='lg:inline-block lg:mt-0 hover:text-pink') Admin
				a.block.mt-4.text-black.mr-4.leading-none.font-semibold.text-sm(href='/information', class='lg:inline-block lg:mt-0 hover:text-pink') Informasi
				a.block.mt-4.text-black.leading-none.font-semibold.text-sm(href='/map', class='lg:inline-block lg:mt-0 hover:text-pink') Peta