extends layout

block content
    #bg.absolute.pin.z-0.h-screen.bg-indigo(class='w-2/3')
    .flex.flex-row.flex-wrap.flex-1.items-center.justify-center.w-screen.h-screen.relative
        .flex.flex-col.flex-wrap.h-full(class='w-1/2').justify-center.items-end.pl-32.text-white.pt-24
            #title.font-bold.uppercase.font-sans.flex.flex-col.justify-center.items-end.leading-tight.text-3xl.pl-12.mb-6
                .flex.text-right Lokasi Tower BTS 
                .flex.text-right (Base Transceiver Station)  
                .flex.text-right Terpadu Operator Seluler
                .flex.text-right di Kabupaten Sumba Timur
            #desc.font-hairline.flex.leading-loose.pl-12.text-right
                | Penelitian ini membuat sistem informasi geografis untuk penentuan lokasi tower BTS (Base Transceiver Station) terpadu operator seluler dan divisualisasi berbasis web yang berada di kabupaten sumba timur. Penelitian bertujuan untuk mengetahui lokasi tower BTS eksisting yang dapat dijadikan tower BTS terpadu yang dapat digunakan secara bersama oleh beberapa operator seluler. Untuk mempermudah mengakses informasi mengenai tower BTS tersebut maka dibuat SIG yang divisualisasi berbasis web yang dapat diakses secara bebas. 
        .flex.flex-col.flex-wrap.h-full(class='w-1/2').justify-center.items-start.pt-24.relative.pl-8
            #image-wrapper.flex.bg-grey-light.shadow-lg.justify-center.items-center(style='width:32rem;height:24rem;')
                img.h-full.w-full(src='images/bts.jpg')
    .flex.flex-row.flex-wrap.flex-1.items-center.justify-center.w-screen.h-screen.relative
        .flex.flex-col.flex-wrap.h-full(class='w-1/2').justify-center.items-end.pl-32.text-white.pt-24.bg-indigo-dark.pr-6
            #title.font-bold.uppercase.font-sans.flex.leading-tight.text-5xl.pl-12.mb-6.text-right
                | Kabupaten Sumba Timur
            #desc-2.font-hairline.flex.leading-loose.pl-12.text-right.flex-col
                | Kabupaten Sumba Timur berada di Provinsi Nusa Tenggara Timur dan terletak pada 90°16’0” - 10°20’0’’ LS dan 119°45’0’’ - 120°52’0’’ BT, serta terdapat 22 Kecamatan dengan jumlah penduduk 249.606 jiwa. Batas wilayah Kabupaten Sumba Timur adalah: 
                ul.list-reset
                    li Barat: Kabupaten sumba tengah
                    li Timur: Laut Sawu
                    li Selatan: Samudra hindia
                    li Utara: Selat Sumba
        .flex.flex-col.flex-wrap.h-full(class='w-1/2').justify-center.items-start.pr-32.text-white.pt-24.text-left.bg-indigo-dark.pl-6
            #title-2.font-bold.uppercase.font-sans.flex.leading-tight.text-5xl.pr-12.mb-6
                | Base Transceiver Station
            #desc-3.font-hairline.flex.leading-loose.pr-12
                | BTS terpadu atau sering disebut menara bersama telekomunikasi adalah penggunaan bersama menara telekomunikasi oleh beberapa operator. Sebuah operator telekomunikasi dapat memasang BTS di menara operator lain atau tower provider lain. Dengan demikian, untuk dapat memiliki cakupan yang luas, operator tidak perlu membangun menara telekomunikasi di banyak tempat, cukup membangun menara di daerah-daerah yang memang belum ada menara telekomunikasinya.