extends layout

block content
    .flex.flex-row.flex-wrap.flex-1.items-center.justify-center.w-screen.h-screen.relative.text-white.pt-32.pb-24.bg-indigo-dark.px-32
        #title.font-bold.uppercase.font-sans.flex.leading-tight.text-4xl.pl-12.mb-6.text-center
            | Informasi Terkait
        embed(src='excel/informasi.htm').h-full.w-full.bg-white.flex.self-stretch