doctype html
html(lang='en', style='width:100%;height:100%').no-js
	head
		title= title
		block meta
			meta(charset='utf-8')
			meta(name='viewport', content='width=device-width, initial-scale=1')
			meta(name='description', content='GIS BTS')
			meta(name='keywords', content='gis, bts')
			meta(name='author', content='joti.hambandima@gmail.com')
		block favicon
			link(rel='shortcut icon', type='image/x-icon', href='/favicon/LOGO_ITN.png')
		block style
			link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css')
			link(rel='stylesheet', type='text/css', href='/stylesheets/app.min.css')
	body.bg-white.font-sans
		include header
		block content
		include footer
		block script