extends layout

block append style
	link(rel='stylesheet', type='text/css', href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css', integrity='sha384-BF7C732iE6WuqJMhUnTNJJLVvW1TIP87P2nMDY7aN2j2EJFWIaqK89j3WlirhFZU', crossorigin='anonymous')
	
block content
	.flex.flex-row.flex-wrap.flex-1.items-center.justify-center.w-screen.h-screen.relative.bg-indigo.z-0
		#map.h-full.w-full

block append script
	script(type='text/javascript', src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js', integrity='sha384-/I247jMyT/djAL4ijcbNXfX+PA8OZmkwzUr6Gotpgjz1Rxti1ZECG9Ne0Dj1pXrx', crossorigin='anonymous')
	script(type='text/javascript', src='https://cdn.rawgit.com/stefanocudini/leaflet-search/eee9e482/src/leaflet-search.js')
	script(type='text/javascript', src='/../geojson/administrasi-kabupaten.geojson')
	script(type='text/javascript', src='/../geojson/administrasi-kecamatan.geojson')
	script(type='text/javascript', src='/../geojson/existing-bts.geojson')
	script(type='text/javascript', src='/../geojson/radius-bts.geojson')
	script(type='text/javascript', src='/../geojson/klasifikasi-bts-1.geojson')
	script(type='text/javascript', src='/../geojson/klasifikasi-bts-2.geojson')
	script(type='text/javascript', src='/../geojson/radius-klasifikasi-1.geojson')
	script(type='text/javascript', src='/../geojson/radius-klasifikasi-2.geojson')
	script.
		let baseLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYW5nZ2llZGltYXN0YSIsImEiOiJjamw5eXh5cm4zeXRoM2tsN2NwZWszc2NlIn0.ulL8kFP68OHMDaVyc4eeRA', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			maxZoom: 18,
			id: 'mapbox.streets',
			accessToken: 'pk.eyJ1IjoiYW5nZ2llZGltYXN0YSIsImEiOiJjamw5eXh5cm4zeXRoM2tsN2NwZWszc2NlIn0.ulL8kFP68OHMDaVyc4eeRA'
		}); // KONFIGURASI IMPORT MAP TILES DARI LEAFLET VIA MAPBOX

		let greenIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
			shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
			iconSize: [25, 41],
			iconAnchor: [12, 41],
			popupAnchor: [1, -34],
			shadowSize: [41, 41]
		}); //VARIABEL PENAMPUNG MARKER ICON WARNA HIJAU

		let redIcon = new L.Icon({
			iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
			shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
			iconSize: [25, 41],
			iconAnchor: [12, 41],
			popupAnchor: [1, -34],
			shadowSize: [41, 41]
		}); //VARIABEL PENAMPUNG MARKER ICON WARNA MERAH

		let administrasiKabupatenStyle = {
			"fillColor": "#5661b3",
			"color": "#5661b3"
		} //VARIABEL PENGAMPUNG BUAT NANTI GANTI WARNA DAN BORDER AREA KABUPATEN
		let existingBTSStyle = {
			"opacity": 1
		} //VARIABEL PENGAMPUNG BUAT NANTI GANTI STYLE EXISTING BTS
		let radiusBTSStyle = {
			"opacity": 0.3,
			"color": "yellow",
			"fillColor": "yellow"
		} //VARIABEL PENAMPUNG BUAT NANTI GANTI SYLE RADIUS BTS

		let administrasiKabupaten = L.geoJson(administrasi_kabupaten, {
			style: administrasiKabupatenStyle
		}); // TAMPUNG VARIBEL DARI GEOJSON BESERTA STYLE YANG UDAH DI DEKLARASIKAN SEBELUMNYA
		let administrasiKecamatan = L.geoJson(administrasi_kecamatan, {
			onEachFeature: function (feature, layer) {
				var color;
				var r = Math.floor(Math.random() * 255);
				var g = Math.floor(Math.random() * 255);
				var b = Math.floor(Math.random() * 255);
				color= "rgb("+r+" ,"+g+","+ b+")"; 
				layer.setStyle({
					"color": color,
					"fillColor": color
				});
				//NAMBAH POPUP BUAT MARKER KLASIFIKASI
				layer.bindPopup(
					'<h1>'+feature.properties.namobj+'</h1>'+
					'<h3>'+feature.properties.wadmkk+'</h3>'+
					'<h3>'+feature.properties.wadmpr+'</h3>'+
					'<h3>Jumlah Penduduk: '+feature.properties.jmlh_pendu+'</h3>'+
					'<h3>Skor Penduduk: '+feature.properties.skor_pendu+'</h3>'
				);
			}
		}); // TAMPUNG VARIBEL DARI GEOJSON BESERTA STYLE YANG UDAH DI DEKLARASIKAN SEBELUMNYA
		let existingBTS = L.geoJson(existing_bts, {
			style: existingBTSStyle,
			onEachFeature: function (feature, layer) {
				layer.bindPopup(
					'<h1>'+feature.properties.nama_bts+'</h1>'+
					'<h3>Lokasi: '+feature.properties.lokasi_bts+'</h3>'+
					'<h3>Kecamatan: '+feature.properties.kecamatan+'</h3>'+
					'<h3>Provider: '+feature.properties.jenis_prov+'</h3>'+
					'<h3>Koordinat: '+feature.properties.x+', '+feature.properties.y+'</h3>'+
					'<h3>Radius: '+feature.properties.radius__m_+' meter</h3>'+
					'<h3>Tinggi Tower: '+feature.properties.tinggi__m_+' meter</h3>'
				);
			}
		}); // TAMPUNG VARIBEL DARI GEOJSON BESERTA STYLE YANG UDAH DI DEKLARASIKAN SEBELUMNYA + SETTING POPUP KETIKA MARKER DI CLICK
		let radiusBTS = L.geoJson(radius_bts, {
			style: radiusBTSStyle,
			onEachFeature: function (feature, layer) {
				layer.bindPopup(
					'<h1>'+feature.properties.nama_bts+'</h1>'+
					'<h3>Lokasi: '+feature.properties.lokasi_bts+'</h3>'+
					'<h3>Kecamatan: '+feature.properties.kecamatan+'</h3>'+
					'<h3>Provider: '+feature.properties.jenis_prov+'</h3>'+
					'<h3>Koordinat: '+feature.properties.x+', '+feature.properties.y+'</h3>'+
					'<h3>Radius: '+feature.properties.radius__m_+' meter</h3>'+
					'<h3>Tinggi Tower: '+feature.properties.tinggi__m_+' meter</h3>'
				);
			}
		}); // TAMPUNG VARIBEL DARI GEOJSON BESERTA STYLE YANG UDAH DI DEKLARASIKAN SEBELUMNYA
		let existingBTSGroup = L.layerGroup([
			existingBTS, radiusBTS
		]); // JADIKAN SATU GROUP ANTARA MARKER EXISTING SAMA RADIUSNYA
		let klasifikasiBTSSesuai1 = L.geoJson(klasifikasi_bts_1, {//BUAT MARKER YANG SESUAI
			filter: function (feature) { // FILTER/AMBIL DATA KLASIFIKASI YANG SESUAI AJA
				if (feature.properties.kesesuai_1 === "Sesuai") {
					return true
				}
			},
			pointToLayer: function (feature, latlng) {
				return L.marker(latlng, {icon: greenIcon}); //TAMBAHKAN MARKER HIJAU BUAT KLASIFIKASI YANG SESUAI
			},
			onEachFeature: function (feature, layer) { // NAMBAH POPUP BUAT MARKER KLASIFIKASI
				layer.bindPopup(
					'<h1>'+feature.properties.nama_bts+'</h1>'+
					'<h3>Lokasi: '+feature.properties.lokasi_bts+'</h3>'+
					'<h3>Kecamatan: '+feature.properties.kecamatan+'</h3>'+
					'<h3>Provider: '+feature.properties.jenis_prov+'</h3>'+
					'<h3>Koordinat: '+feature.properties.x+', '+feature.properties.y+'</h3>'+
					'<h3>Radius: '+feature.properties.radius__m_+' meter</h3>'+
					'<h3>Tinggi Tower: '+feature.properties.tinggi__m_+' meter</h3>'+
					'<h3>Total Skor: '+feature.properties.total_skor+'</h3>'+
					'<h3>Kesesuaian: '+feature.properties.kesesuai_1+'</h3>'
				);
			}
		});
		let klasifikasiBTSSesuai2 = L.geoJson(klasifikasi_bts_2, {//BUAT MARKER YANG SESUAI
			filter: function (feature) { // FILTER/AMBIL DATA KLASIFIKASI YANG SESUAI AJA
				if (feature.properties.kesesuai_1 === "Sesuai") {
					return true
				}
			},
			pointToLayer: function (feature, latlng) {
				return L.marker(latlng, {icon: greenIcon}); //TAMBAHKAN MARKER HIJAU BUAT KLASIFIKASI YANG SESUAI
			},
			onEachFeature: function (feature, layer) { // NAMBAH POPUP BUAT MARKER KLASIFIKASI
				layer.bindPopup(
					'<h1>'+feature.properties.nama_bts+'</h1>'+
					'<h3>Lokasi: '+feature.properties.lokasi_bts+'</h3>'+
					'<h3>Kecamatan: '+feature.properties.kecamatan+'</h3>'+
					'<h3>Provider: '+feature.properties.jenis_prov+'</h3>'+
					'<h3>Koordinat: '+feature.properties.x+', '+feature.properties.y+'</h3>'+
					'<h3>Radius: '+feature.properties.radius__m_+' meter</h3>'+
					'<h3>Tinggi Tower: '+feature.properties.tinggi__m_+' meter</h3>'+
					'<h3>Total Skor: '+feature.properties.total_skor+'</h3>'+
					'<h3>Kesesuaian: '+feature.properties.kesesuai_1+'</h3>'
				);
			}
		});
		let klasifikasiBTSTidakSesuai1 = L.geoJson(klasifikasi_bts_1, { //BUAT MARKER YANG GAK SESUAI
			filter: function (feature) {
				if (feature.properties.kesesuai_1 === "Tidak Sesuai") return true  // FILTER/AMBIL DATA KLASIFIKASI YANG GAK SESUAI AJA
			},
			pointToLayer: function (feature, latlng) {
				return L.marker(latlng, {icon: redIcon}); //TAMBAHKAN MARKER HIJAU BUAT KLASIFIKASI YANG GAK SESUAI
			},
			onEachFeature: function (feature, layer) { //NAMBAH POPUP BUAT MARKER KLASIFIKASI
				layer.bindPopup(
					'<h1>'+feature.properties.nama_bts+'</h1>'+
					'<h3>Lokasi: '+feature.properties.lokasi_bts+'</h3>'+
					'<h3>Kecamatan: '+feature.properties.kecamatan+'</h3>'+
					'<h3>Provider: '+feature.properties.jenis_prov+'</h3>'+
					'<h3>Koordinat: '+feature.properties.x+', '+feature.properties.y+'</h3>'+
					'<h3>Radius: '+feature.properties.radius__m_+' meter</h3>'+
					'<h3>Tinggi Tower: '+feature.properties.tinggi__m_+' meter</h3>'+
					'<h3>Total Skor: '+feature.properties.total_skor+'</h3>'+
					'<h3>Kesesuaian: '+feature.properties.kesesuai_1+'</h3>'
				);
			}
		});
		let klasifikasiBTSTidakSesuai2 = L.geoJson(klasifikasi_bts_2, { //BUAT MARKER YANG GAK SESUAI
			filter: function (feature) {
				if (feature.properties.kesesuai_1 === "Tidak Sesuai") return true  // FILTER/AMBIL DATA KLASIFIKASI YANG GAK SESUAI AJA
			},
			pointToLayer: function (feature, latlng) {
				return L.marker(latlng, {icon: redIcon}); //TAMBAHKAN MARKER HIJAU BUAT KLASIFIKASI YANG GAK SESUAI
			},
			onEachFeature: function (feature, layer) { //NAMBAH POPUP BUAT MARKER KLASIFIKASI
				layer.bindPopup(
					'<h1>'+feature.properties.nama_bts+'</h1>'+
					'<h3>Lokasi: '+feature.properties.lokasi_bts+'</h3>'+
					'<h3>Kecamatan: '+feature.properties.kecamatan+'</h3>'+
					'<h3>Provider: '+feature.properties.jenis_prov+'</h3>'+
					'<h3>Koordinat: '+feature.properties.x+', '+feature.properties.y+'</h3>'+
					'<h3>Radius: '+feature.properties.radius__m_+' meter</h3>'+
					'<h3>Tinggi Tower: '+feature.properties.tinggi__m_+' meter</h3>'+
					'<h3>Total Skor: '+feature.properties.total_skor+'</h3>'+
					'<h3>Kesesuaian: '+feature.properties.kesesuai_1+'</h3>'
				);
			}
		});
		let radiusKlasifikasiSesuai1 = L.geoJson(radius_klasifikasi_1, {//BUAT RADIUS YANG SESUAI
			filter: function (feature) {
				if (feature.properties.kesesuai_1 === "Sesuai") return true //FILTER/AMBIL DATA RADIUS YANG SESUAI AJA
			},
			style: function(feature) {
				return style = {
					color: "#38C172",
					fillColor: "#38C172",
					opacity: 0.3
				}
			},
			onEachFeature: function (feature, layer) { //NAMBAH POPUP BUAT MARKER KLASIFIKASI
				layer.bindPopup(
					'<h1>'+feature.properties.nama_bts+'</h1>'+
					'<h3>Lokasi: '+feature.properties.lokasi_bts+'</h3>'+
					'<h3>Kecamatan: '+feature.properties.kecamatan+'</h3>'+
					'<h3>Provider: '+feature.properties.jenis_prov+'</h3>'+
					'<h3>Koordinat: '+feature.properties.x+', '+feature.properties.y+'</h3>'+
					'<h3>Radius: '+feature.properties.radius__m_+' meter</h3>'+
					'<h3>Tinggi Tower: '+feature.properties.tinggi__m_+' meter</h3>'+
					'<h3>Total Skor: '+feature.properties.total_skor+'</h3>'+
					'<h3>Kesesuaian: '+feature.properties.kesesuai_1+'</h3>'
				);
			}
		});
		let radiusKlasifikasiSesuai2 = L.geoJson(radius_klasifikasi_2, {//BUAT RADIUS YANG SESUAI
			filter: function (feature) {
				if (feature.properties.kesesuai_1 === "Sesuai") return true //FILTER/AMBIL DATA RADIUS YANG SESUAI AJA
			},
			style: function(feature) {
				return style = {
					color: "#38C172",
					fillColor: "#38C172",
					opacity: 0.3
				}
			},
			onEachFeature: function (feature, layer) { //NAMBAH POPUP BUAT MARKER KLASIFIKASI
				layer.bindPopup(
					'<h1>'+feature.properties.nama_bts+'</h1>'+
					'<h3>Lokasi: '+feature.properties.lokasi_bts+'</h3>'+
					'<h3>Kecamatan: '+feature.properties.kecamatan+'</h3>'+
					'<h3>Provider: '+feature.properties.jenis_prov+'</h3>'+
					'<h3>Koordinat: '+feature.properties.x+', '+feature.properties.y+'</h3>'+
					'<h3>Radius: '+feature.properties.radius__m_+' meter</h3>'+
					'<h3>Tinggi Tower: '+feature.properties.tinggi__m_+' meter</h3>'+
					'<h3>Total Skor: '+feature.properties.total_skor+'</h3>'+
					'<h3>Kesesuaian: '+feature.properties.kesesuai_1+'</h3>'
				);
			}
		});
		let radiusKlasifikasiTidakSesuai1 = L.geoJson(radius_klasifikasi_1, {//BUAT RADIUS YANG GAK SESUAI
			filter: function (feature) {
				if (feature.properties.kesesuai_1 === "Tidak Sesuai") return true //FILTER/AMBIL DATA RADIUS YANG GAK SESUAI AJA
			},
			style: function(feature) {
				return style = {
					color: "red",
					fillColor: "red",
					opacity: 0.3
				}
			},
			onEachFeature: function (feature, layer) { //NAMBAH POPUP BUAT MARKER KLASIFIKASI
				layer.bindPopup(
					'<h1>'+feature.properties.nama_bts+'</h1>'+
					'<h3>Lokasi: '+feature.properties.lokasi_bts+'</h3>'+
					'<h3>Kecamatan: '+feature.properties.kecamatan+'</h3>'+
					'<h3>Provider: '+feature.properties.jenis_prov+'</h3>'+
					'<h3>Koordinat: '+feature.properties.x+', '+feature.properties.y+'</h3>'+
					'<h3>Radius: '+feature.properties.radius__m_+' meter</h3>'+
					'<h3>Tinggi Tower: '+feature.properties.tinggi__m_+' meter</h3>'+
					'<h3>Total Skor: '+feature.properties.total_skor+'</h3>'+
					'<h3>Kesesuaian: '+feature.properties.kesesuai_1+'</h3>'
				);
			}
		});
		let radiusKlasifikasiTidakSesuai2 = L.geoJson(radius_klasifikasi_2, {//BUAT RADIUS YANG GAK SESUAI
			filter: function (feature) {
				if (feature.properties.kesesuai_1 === "Tidak Sesuai") return true //FILTER/AMBIL DATA RADIUS YANG GAK SESUAI AJA
			},
			style: function(feature) {
				return style = {
					color: "red",
					fillColor: "red",
					opacity: 0.3
				}
			},
			onEachFeature: function (feature, layer) { //NAMBAH POPUP BUAT MARKER KLASIFIKASI
				layer.bindPopup(
					'<h1>'+feature.properties.nama_bts+'</h1>'+
					'<h3>Lokasi: '+feature.properties.lokasi_bts+'</h3>'+
					'<h3>Kecamatan: '+feature.properties.kecamatan+'</h3>'+
					'<h3>Provider: '+feature.properties.jenis_prov+'</h3>'+
					'<h3>Koordinat: '+feature.properties.x+', '+feature.properties.y+'</h3>'+
					'<h3>Radius: '+feature.properties.radius__m_+' meter</h3>'+
					'<h3>Tinggi Tower: '+feature.properties.tinggi__m_+' meter</h3>'+
					'<h3>Total Skor: '+feature.properties.total_skor+'</h3>'+
					'<h3>Kesesuaian: '+feature.properties.kesesuai_1+'</h3>'
				);
			}
		});

		let klasifikasiBTSSesuaiGroup = L.layerGroup([klasifikasiBTSSesuai1, klasifikasiBTSSesuai2, radiusKlasifikasiSesuai1, radiusKlasifikasiSesuai2]); // JADIKAN SATU ANTARA MARKER DAN RADIUS KLASIFIKASI SESUAI
		let klasifikasiBTSTidakSesuaiGroup = L.layerGroup([klasifikasiBTSTidakSesuai1, klasifikasiBTSTidakSesuai2, radiusKlasifikasiTidakSesuai1, radiusKlasifikasiTidakSesuai2]);// JADIKAN SATU ANTARA MARKER DAN RADIUS KLASIFIKASI YANG GAK SESUAI
		let klasifikasiBTSGroup = L.layerGroup([klasifikasiBTSSesuaiGroup, klasifikasiBTSTidakSesuaiGroup]);//BUAT SEARCH

		let map = L.map('map', {
			center: [-9.804994, 120.152064],
			layers: [baseLayer, administrasiKabupaten, administrasiKecamatan, klasifikasiBTSSesuaiGroup, klasifikasiBTSTidakSesuaiGroup],
			zoom: 10,
			zoomControl: false
		});//MASUKKAN LAYER YANG SUDAH DIKONFIGURASIKAN SEBELUMNYA KE DALAM MAP

		let baseMap = { //BUAT LAYER CONTROL
			"Base Map": baseLayer 
		}
		let overlayMaps = { //BUAT LAYER CONTROL
			"Administrasi Kabupaten (Ungu)": administrasiKabupaten,
			"Administrasi Kecamatan (Banyak Warna)": administrasiKecamatan,
			"Klasifikasi BTS (Sesuai) (Hijau)": klasifikasiBTSSesuaiGroup,
			"Klasifikasi BTS (Tidak Sesuai) (Merah)": klasifikasiBTSTidakSesuaiGroup
		}

		L.control.zoom({
			position: 'bottomright' //TOMBOL ZOOM DIPINDAH KE BAWAH KANAN
		}).addTo(map);
		L.control.layers(baseMap, overlayMaps, {
			position: 'bottomleft' //LAYER CONTROL DIPINDAH KE BAWAH KIRI
		}).addTo(map);

		var searchControl = new L.Control.Search({
			layer: klasifikasiBTSGroup, //BERDASARKAN KLASIFIKASI BTS
			propertyName: 'nama_bts', //SEARCH BERDASARKAN NAMA BTS
			marker: false,
			moveToLocation: function(latlng, title, map) {
				var zoom = map.getBoundsZoom(latlng.layer.getBounds());
				map.setView(latlng, zoom); // access the zoom
			}
		});
		searchControl.on('search:locationfound', function(e) { //SETTINGAN SEARCH CONTROL
			if(e.layer._popup)
				e.layer.openPopup();
		}).on('search:collapsed', function(e) {
			if(e.layer._popup)
				e.layer.closePopup();
		});
		
		map.addControl(searchControl);  //inizialize search control

		console.log('existing: '+existingBTS.getLayers().length+', radius: '+radiusBTS.getLayers().length);
		console.log('sesuai 1: '+klasifikasiBTSSesuai1.getLayers().length+', sesuai 2: '+klasifikasiBTSSesuai2.getLayers().length);
		console.log('radius 1 sesuai: '+radiusKlasifikasiSesuai1.getLayers().length+', radius 2 sesuai: '+radiusKlasifikasiSesuai2.getLayers().length);
		console.log('tidak sesuai 1: '+klasifikasiBTSTidakSesuai1.getLayers().length+', tidak sesuai 2: '+klasifikasiBTSTidakSesuai2.getLayers().length);
		console.log('radius 1 tidak sesuai: '+radiusKlasifikasiTidakSesuai1.getLayers().length+', radius 2 tidak sesuai: '+radiusKlasifikasiTidakSesuai2.getLayers().length);